/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@import "bootstrap";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;

  h1 {
    font-size: 3rem;
  }

  .top-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 2.5%;

    & :first-child {
      margin-right: auto;
    }
    
    h2, a {
      color: white;
    }

    h2 {
      margin: 1rem 0;
    }
    
    a {
      background-color: transparent;

      &:hover {
        text-decoration: none;
      }
    }

    .nav {
      justify-content: flex-end;
    }

    .current_user_show_btn{
      margin-right: 15px;
    }
    

    .logout_btn a {
      color: red;
      font-weight: bold;
    }
  }

  .flash-space {
    width: 80%;
    margin: 15px auto;
    font-size: 2rem;
  }

  .page-title {
    text-align: center;
    margin-bottom: 3rem;
  }
}
