// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.employees {
  margin-top: 1.5rem;
  font-size: 2rem;

  .flash-sm {
    width: 80%;
    margin: auto;
    margin-bottom: 1.5rem;
  }

  .flash-md {
    width: 95%;
    margin: auto;
    margin-bottom: 1.5rem;
  }

  .btn-wrap {
    display: flex;
    justify-content: center;

    & > * {
      margin-right: 15px;
    }
  }

  .btn-th, .btn-td {
    width: 10%;
  }

  .table {
    thead {
      font-size: 2rem;
    }
    tbody td{
      font-size: 1.5rem;
    }

    td, th {
      padding-left: 2rem;
    }
  }

  .top-content {
    width: 95%;
    margin: auto;
    padding: 0;
    padding-bottom: 1rem;
    display: flex;
    justify-content: flex-end;

    .btn-lg {
      height: 100%;
      padding: 1rem 3rem;

      font-size: 1.5rem;
    }
  }

  .center-content {
    width: 70%;
    margin: auto;
  }

  .form {
    font-size: 2rem;

    .form-group {
      margin-bottom: 3rem;
    }

    .form-flex {
      display: flex;
    }
  }

  .actions {
    width: 80%;
    margin: auto;
    text-align: center;

    .btn {
      margin: 0 1rem;
    }

    .btn-outline-primary {
      &:visited {
        color: #007bff;
      }

      &:hover {
        color: white;
      }
    }

    .btn-outline-danger {
      &:visited {
        color: #dc3545;
      }

      &:hover {
        color: white;
      }
    }
  }

  .row-show {
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  .profile-container {
    display: flex;
  }

  .image-preview, .prof-image-container {
    width: 130px;
    height: 130px;
    padding: 0;
    border: 1px solid black;
  }
}
